<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/nasabousaleh/java/Javaprojects/Inheritance"><classes><class name="org.example.PS1"><methods><include name="PS1Test"/></methods></class></classes></test></suite>